<h3>Navegacion</h3>
<ul>
    <li>
        <a routerLink="/"
           routerLinkActive="MisEstilos"
           [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li>
        <a routerLink="/quienes-somos"
           routerLinkActive="MisEstilos">Quienes Somos</a>
    </li>
    <li>
        <a routerLink="/registrate"
           routerLinkActive="MisEstilos">Registrate</a>
    </li>
    <li>
        <a routerLink="/contactanos"
           routerLinkActive="MisEstilos">Contactanos</a>
    </li>
    <li>
        <a routerLink="/empleados"
           routerLinkActive="MisEstilos">Empleados</a>
    </li>
    <li>
        <a routerLink="/cursos"
           routerLinkActive="MisEstilos">Listado de Cursos</a>
    </li>
    <li>
        <a routerLink="/test"
           routerLinkActive="MisEstilos">Test</a>
    </li>
    <li>
        <a routerLink="/observables"
           routerLinkActive="MisEstilos">Observables</a>
    </li>
    <li>
        <a routerLink="/rxjs-test"
           routerLinkActive="MisEstilos">RxJS</a>
    </li>
    <li>
        <a routerLink="/subjects"
           routerLinkActive="MisEstilos">Subjects example</a>
    </li>
</ul>

<p>Mensaje desde Subject Component: {{ conteoClicks }}</p>

<router-outlet></router-outlet>